<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weatherapp2.css') }}">
    <title>Weather App</title>
    <!-- <link rel="stylesheet" href="weatherapp2.css"> -->
</head>
<body>
    <div class="container">
        <div class="weather__header">
            <h1>Weather App</h1>
        </div>
            <div class="weather__city">
                 <p>{{vars.city}}</p><!--here CITY: -->
            </div>
            <div class="weather__temperature">
                <p>{{vars.temp}}&deg;C</p><!--here TEMP:-->
            </div>
            <div class="weather__description">
                <p>{{vars.des}}</p><!--here DESCRIPTION: -->
            </div>
            <div class="weather__datetime">
                <p>{{vars.datetime}}</p><!--here DATETIME: -->
            </div>
        <!--there was icon here-->
        <div class="icon">
            <img src = "https://openweathermap.org/img/wn/{{vars.icon}}@2x.png"style='float:right' style='align:top-right'>
        </div>
        <div class="white-container">
            <div class="weather__info">
            <div class="weather__card">
                <i class="fa-solid fa-temperature-full"></i>
                <div>
                    <p>Feels like</p>
                    <p class="weather__realfeel">{{vars.Feels_like}}&deg;C</p><!--here Feels_like:-->
                </div>
            </div>
            <div class="weather__card">
                <i class="fa-solid fa-droplet"></i>
                <div>
                    <p>Humidity</p>
                    <p class="weather__humidity">{{vars.hum}}g/m<sup>3</sup></p><!--here HUM : -->
                </div>
            </div>
            <div class="weather__card">
                <i class="fa-solid fa-wind"></i>
                <div>
                    <p>Wind</p>
                    <p class="weather__wind">{{vars.wind_speed}}km/h</p><!--here WIND: -->
                </div>
            </div>
            <div class="weather__card">
                <i class="fa-solid fa-gauge-high"></i>
                <div>
                    <p>Pressure</p>
                    <p class="weather__pressure">{{vars.pressure}}mb</p><!--here PRESSURE:-->
                </div>
            </div>    
            <div class="weather__card">
                <i class="fa-solid fa-temperature-arrow-down"></i>
                    <div>
                            <p>Min Temperature</p>
                            <p class="weather__min">{{vars.min}}&deg;C</p><!--here MIN :-->
                    </div>   
                </div>             
            <div class="weather__card">
                <i class="fa-solid fa-temperature-arrow-up"></i>
                    <div>
                            <p>Max Temperature</p>
                            <p class="weather__max">{{vars.max}}&deg;C</p><!--here MAX :-->
                    </div> 
                </div>           
                </div>
            </div>              
        </div>
    <!--this is for icons-->
    <script src="https://kit.fontawesome.com/a692e1c39f.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>
</html>