@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.body{
    height: 725px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('bg3.png');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
  background: #43AFFC; 
    color: #fff;
    padding: 3rem;
    height: 150%;
    width: 100%;
    margin-top: 2px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('bg3.png');
    
}

.weather__header {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: none;
}

input {
    border: none;
    background:#8FD7C7;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 5px;
}

input::placeholder {
    color: #fff;
}

.weather__search {
    position: relative;
}

.weather__search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff;
}
.weather__city {
    margin-top: auto;
    font-size: 50px ;
    margin-bottom: 1rem;
   

}


.weather__units span {
    cursor: pointer;
}

.weather__units span:first-child {
    margin-right: 0.5rem;
}

.weather__body {
    text-align: center;
    margin-top: 3rem;
}

.weather__datetime {
    margin-top:  0.5rem; ;
    margin-bottom: 0.5rem;
    font-size: 12px;
}

.weather__temperature {
    background: #004976;
    display: inline-block;
    font-size: 50px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-bottom: 1.5rem;
}
.weather__description{
    margin-top: auto;
    font-size: 25px ;
    margin-bottom: 1rem;
}

.weather__icon img {
    margin: 0.5rem;/* */
    height:100px;
    align-items: left;
}


.weather__minmax {
    display: flex;
    justify-content: center;
    
}

.weather__minmax p {
    font-size: 14px;
    margin: 0.5rem;
}

.weather__info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin-top: 1rem;
}

.weather__card {
    size-adjust: 300px;
    display: flex;
    align-items: center;
    background: #004976;;
    height: 120px;
    padding: 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
}
/*.weather__sunrise {
    size-adjust: 100px;
    display: flex;
    align-items: center;
    background: #004976 ;
    height: 120px;
    padding: 2rem;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 2rem;
}
.weather__sunset {
    size-adjust: 300px;
    display: flex;
    align-items: center;
    background: #004976 ;
    height: 120px;
    padding: 2rem;
    border-radius: 10px;
    font-size: 1.5rem;*/

.weather__card i {
    font-size: 2rem;
    margin-right: 2rem;
}

.weather__card p {
    font-size: 18px;
}

.icon{
    position: absolute;
    top: 150px;
    right: 150px;
    height: 200px;
    width: 200px;
    background-size: 200px;

    
}

/*
.white-container {
    background-color: white;
    border-radius: 20px;
    padding:5px;
    padding-bottom: 20px;
}
*/

@media(max-width: 936px){
    .container {
        width: 90%;
    }

    .weather__header {
        flex-direction: column;
    }

    .weather__units {
        margin-top: 1rem;
    }
    .icon{
        display: block;
        margin-right: auto;
        float: right;
        position: absolute;
        top: 10px;
        right: 10px;
    }
}


@media(max-width: 600px){
    .weather__info {
        grid-template-columns: none;
    }
}
/*.dark-mode{
    background-color: black;
    color: white;*/
