<html>
    <body>
   
        <h1>Hello USER</h1>
        
        <form action="{{ url_for("test")}}" method="post">
        <label for="code">Enter country code</label>
        <input type="code" id="code" name="code" placeholder="code">
        <button type="submit">submit</button>
        <iframe
        width="450"
        height="250"
        frameborder="0" style="border:0"
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/MAP_MODE?key=YOUR_API_KEY&PARAMETERS"
        allowfullscreen>
        </iframe>
        
      
    </body>
</html>
