<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/weatherapp2.css') }}">

    <title>Weather App Page 2</title>
    <!-- <link rel="stylesheet" href="weatherapp2.css"> -->
</head>
<body>
    <div class="container">
        <div class="weather__header">
            <h1></h1>
        </div>
        <div class="weather__body">
            <h1 class="weather__city"></h1>
            <p>London,uk</p>
            <div class="weather__datetime">
            </div>
            <div class="weather__forecast"></div>
            <div class="weather__icon">
            </div>
            <p class="weather__temperature">
            </p>
            <div class="weather__minmax">
                <p>Min: 12&#176</p>
                <p>Max: 16&#176</p>
            </div>
        </div>
        <div class="icon">
            <img src = "https://openweathermap.org/img/wn/{{vars.icon}}@2x.png">
        </div>
        <div class="white-container">
            <div class="weather__info">
                <div class="weather__card">
                    <i class="fa-solid fa-temperature-full"></i>
                    <div>
                        <p>Feels like</p>
                        <p class="weather__realfeel">18&#176</p>
                    </div>
                </div>
                <div class="weather__card">
                    <i class="fa-solid fa-droplet"></i>
                    <div>
                        <p>Humidity</p>
                        <p class="weather__humidity">18&#176</p>
                    </div>
                </div>
                <div class="weather__card">
                    <i class="fa-solid fa-wind"></i>
                    <div>
                        <p>Wind</p>
                        <p class="weather__wind">18&#176</p>
                    </div>
                </div>
                <div class="weather__card">
                    <i class="fa-solid fa-gauge-high"></i>
                    <div>
                        <p>Wind Angle</p>
                        <p class="weather__pressure">18&#176</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://kit.fontawesome.com/a692e1c39f.js" crossorigin="anonymous"></script>
    <script src="app.js"></script>
</body>
</html>